section.content-linha-do-tempo {
    background: linear-gradient(206.82deg, #305BA1 22.62%, #2097D5 63.01%), #FFFFFF;
    color: #fff;
}

section.content-linha-do-tempo .linha-item {
    width: 530px;
    border-left: 1px solid #fff;
    padding-left: 27px;
    padding-bottom: 9px;
    padding-top: 30px;
}

section.content-linha-do-tempo .linha-item:first-child {
    padding-top: 159px;
    margin-top: -56px;
}

section.content-linha-do-tempo .linha-item:last-child {
    padding-bottom: 100px;
}

div#init-linha-do-tempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item_yeaer {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 136px; */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #C8E2EC;
    cursor: pointer;
}

.item_yeaer span {
    position: relative;
    left: -97px;
}

.linha-item .item_yeaer i {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #C8E2EC;
    position: relative;
    left: -31px;
}

.navegador-safati .linha-item .item_yeaer i {
    top: -5px;
}

.linha-item:not(.active) .item_yeaer i {background-image: none !important;}

.active .item_yeaer i {
    width: 34px;
    height: 34px;
    left: -44px;
    border-radius: initial;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: transparent;
}

.navegador-safari .active .item_yeaer i {
    top: 1px;
}

.active .item_yeaer {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: #FFFFFF;
}

.active .item_yeaer span {
    display: inline-block;
    /* margin-left: -30px; */
    left: -170px;
}

section.content-linha-do-tempo .image-point {
    width: 489px;
    height: 312px;
    margin-bottom: 18px;
    margin-top: 30px;
    border-radius: 20px;
    display: block;
}

section.content-linha-do-tempo .item_bottom {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.carroussel-linha-do-tempo {
    padding-top: 27px;
}

.carroussel-linha-do-tempo button.slick-arrow.slick-prev, .carroussel-linha-do-tempo button.slick-arrow.slick-next {
    top: 28px;
    background: no-repeat;
    font-weight: 700;
}

.carroussel-linha-do-tempo button.slick-arrow.slick-next {
    left: 96px;
    font-weight: 700;
}

html .carroussel-linha-do-tempo ul.slick-dots li {
    display: none;
    background: none !important;
    font-size: 14px;
}

.carroussel-linha-do-tempo ul.slick-dots li.slick-active {
    display: block;
    background: none !important;
    border: none;
    width: 100% !important;
}

.navegador-safari .carroussel-linha-do-tempo ul.slick-dots li.slick-active {
    line-height: 2;
}

.carroussel-linha-do-tempo ul.slick-dots {
    top: 18px;
    left: 30px;
    height: 21px;
    width: 73px;
}

.content_bottom {
    display: none;
    position: relative;
}

.linha-item.active .content_bottom {
    display: block;
    position: absolute;
    top: 0;
    width: 503px;
    /* left: 0; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

h2.title-linha-do-tempo {
    display: block;
    width: 212px;
    position: relative;
    top: 41px;
    margin-bottom: -37px;
}