section.content-linha-do-tempo {
    background: linear-gradient(206.82deg, #305BA1 22.62%, #2097D5 63.01%), #FFFFFF;
    color: #fff;
}

section.content-linha-do-tempo .linha-item {
    width: 392px;
    border-left: 1px solid #fff;
    padding-left: 27px;
    padding-bottom: 35px;
    padding-top: 35px;
}

div#init-linha-do-tempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_yeaer {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #C8E2EC;
    cursor: pointer;
}

.linha-item .item_yeaer i {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #C8E2EC;
    position: relative;
    left: -31px;
}

.linha-item:not(.active) .item_yeaer i {background-image: none !important;}

.active .item_yeaer i {
    width: 34px;
    height: 34px;
    left: -44px;
    border-radius: initial;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: transparent;
}

.active .item_yeaer {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
/* or 33px */
    color: #FFFFFF;
}

.linha-item {}