.banner-principal-v1 {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.imagem-fundo-v1 {
    height: 100%;
    width: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.imagem-frente-v1 {
    width: 790px;
    height: 82vh;
    display: block;
    position: absolute;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
    left: 50%;
    margin-left: -395px;
}