@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamBook.woff) format('woff'),  */
    url(./fonts/GothamBook.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 400;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamBookItalic.woff) format('woff'),  */
    url(./fonts/GothamBookItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamLight.woff) format('woff'),  */
    url(./fonts/GothamLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 300;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamLightItalic.woff) format('woff'),  */
    url(./fonts/GothamLightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamMedium.woff) format('woff'),  */
    url(./fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamMedium_1.woff) format('woff'),  */
    url(./fonts/GothamMedium_1.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 500;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamMediumItalic.woff) format('woff'),  */
    url(./fonts/GothamMediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamBold.woff) format('woff'),  */
    url(./fonts/GothamBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src: 
    local('Gotham'), 
    /* url(./fonts/Gotham-Bold.woff) format('woff'),  */
    url(./fonts/Gotham-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 700;
    src: 
    local('Gotham'), 
    /* url(./fonts/GothamBoldItalic.woff) format('woff'),  */
    url(./fonts/GothamBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham black";
    font-style: normal;
    font-weight: 500;
    src: 
    local('Gotham Black'), 
    /* url(./fonts/Gotham-Black.woff) format('woff'),  */
    url(./fonts/Gotham-Black.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham light";
    font-style: normal;
    font-weight: 500;
    src: 
    local('Gotham Light'), 
    /* url(./fonts/Gotham-Light.woff) format('woff'),  */
    url(./fonts/Gotham-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham thin";
    font-style: normal;
    font-weight: 500;
    src: 
    local('Gotham Thin'), 
    /* url(./fonts/Gotham-Thin.woff) format('woff'),  */
    url(./fonts/Gotham-Thin.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham xlight";
    font-style: normal;
    font-weight: 500;
    src: 
    local('Gotham XLight'), 
    /* url(./fonts/Gotham-XLight.woff) format('woff'),  */
    url(./fonts/Gotham-XLight.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham book";
    font-style: italic;
    font-weight: 500;
    src: 
    local('Gotham Book'), 
    /* url(./fonts/Gotham-BookItalic.woff) format('woff'),  */
    url(./fonts/Gotham-BookItalic.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham thin";
    font-style: italic;
    font-weight: 500;
    src: 
    local('Gotham Thin'), 
    /* url(./fonts/Gotham-ThinItalic.woff) format('woff'),  */
    url(./fonts/Gotham-ThinItalic.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham ultra";
    font-style: italic;
    font-weight: 500;
    src: 
    local('Gotham Ultra'), 
    /* url(./fonts/Gotham-UltraItalic.woff) format('woff'),  */
    url(./fonts/Gotham-UltraItalic.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham xlight";
    font-style: italic;
    font-weight: 500;
    src: 
    local('Gotham XLight'), 
    /* url(./fonts/Gotham-XLightItalic.woff) format('woff'),  */
    url(./fonts/Gotham-XLightItalic.ttf) format('truetype');
}