@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap&family=Poppins:wght@900&family=Raleway:wght@400;700;800;900&family=Open+Sans:wght@300;400;500;600;700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('../font-awesome/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', sans-serif;

}

.font-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.font-2 {
    font-family: 'Raleway', sans-serif;
}
.container {
    max-width: 1140px;
}

@keyframes fade-in  {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slide-up {
  from {
    transform: translateY(.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-title{
    font-style: normal;
    font-weight: 700;
    font-size: 7vw;
    color: #230077;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

form#collapseFormSearch {
    position: absolute;
    top: -9px;
}

.navbar .dropdown-fullwidth {
    position: static;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

header button.style-hidden-button.close-right {
    position: absolute;
    z-index: 1;
    left: 28px;
    top: 11px;
    border-right: 1px solid #6c757d6b!important;
    height: 14px;
}

header button.style-hidden-button.close-right i {
    margin-right: 4px !important;
}

.navbar .dropdown-fullwidth .dropdown-menu {
    left: 0;
    margin: 2.9rem auto;
    /* max-width: 1320px; */
    padding: 1rem 0 0 0 !important;
    right: 0;
    top: 0;
    width: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: #DADAD9;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
}


span.navbar-toggler-icon {
    background: red;
}


header.header-style-1 {
    background: linear-gradient(42deg, #31F1C5 28.13%, #230077 70.96%);
    box-shadow: none;
    animation: bg-slide2 5s infinite alternate linear;
    box-shadow: none !important;
    margin-bottom: -30%;
    background: rgb(49,241,197);
    background: linear-gradient(10deg, rgba(49,241,197,1) 35%, rgba(35,0,119,1) 89%, rgba(35,0,119,1) 89%);
    background-size: 100%;
}

@keyframes bg-slide {
 from { /* radial-gradient(farthest-corner at top right, ..) */
    background-size:100%;
  
  }

  to { /* radial-gradient(farthest-corner at top left, ..) */
    background-size:150%;
  }
}


img.rectangle {
    width: 100%;
    margin-bottom: -2px;
}

.nav-top {
    /* padding: 29px 0px; */
    /* z-index: 8; */
}

.nav-top a{
    color: #fff;
    
}


.nav-bottom {
    /* background: #F8F8F8; */
    padding: 0 !important;
}

.navbar-expand-lg .dropdown:hover>.dropdown-menu {
    display: block;
    -webkit-animation: slide-up .25s ease-in-out !important;
    animation: slide-up .25s
        ease-in-out !important;
}

.navbar-expand-lg .dropdown-fullwidth:hover>.dropdown-menu {
    display: flex;
}

.navbar-expand-lg .cart-box-1.dropdown-menu:not(.dropdown-menu-dark) {
    border-color: transparent;
    background-color: #230077;
    box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%), 0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%);
    padding-bottom: 0;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.navbar-expand-lg .dropdown-menu.dropdown-menu-end {
    left: auto;
    right: 0;
    top: 100%;
    margin-top: 0.5rem !important;
    
}

.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box!important;
    position: absolute;
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
    width: 100%;
    padding-right: 44px;
    right: -23px;
}

.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto!important;
    height: auto!important;
    z-index: 0;
}

.widget-cart-item {
    padding: 19px 0px;
    border-bottom-color: #999999 !important;
}

.simplebar-data {
    height: 22.4rem !important;
    overflow-y: auto !important;
    padding: 10px;
    /* position: relative; */
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}


.sombra-cart {
    height: 15px;
    width: 100%;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #230077 100%);
    filter: drop-shadow(0px 32px 48px rgba(0, 0, 0, 0.1));
    margin-top: -15px;
}

.cart-item-block {
    background: #484848;
    border-radius: 10px;
    overflow: hidden;
}

.icon-trash {
    background: transparent;
    border: none;
    color: #FF4F4F;
    margin-right: 10px;
}

.icon-trash i {
    font-size: 20px;
}

.block-text {
    color: #fff;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-text a {
    text-decoration: none;
}

.widget-product-meta {
    font-size: 12px;
}

h6.widget-product-title {
    margin-bottom: 4px;
}

.color-1 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.btn.btn-success-v1 {
    background: #230077;
    font-size: 21px;
    padding: 16px;
    font-weight: 600;
}

.btn.btn-success-v1:hover {
    color: #fffd95;
}

.btn-group button {
    background: #5C5C5C;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-top: 6px;
    color: #fff;
    text-align: center;
    line-height: 0;
    padding: 0;
    border: 0;
}

.btn-group button:hover {
    color: #ffff99;
}

.btn-group input[type="number"] {
    margin-left: 6px;
    margin-right: 3px;
    color: #000;
    background: #F4F4F4;
    border: none;
    border-radius: 8px;
    width: 67px;
    height: 32px;
    text-align: center;
    font-weight: 600;
    padding-right: 15px;
}

.number_item {
    margin-right: -2px;
}

.btn-group input[type="number"]:focus {
    outline: none;
}

.number_item::after {
    content: 'un';
    background: #f4f4f4;
    color: #000;
    height: 21px;
    width: 24px;
    padding: 0px 5px;
    display: inline-block;
    position: relative;
    top: 0.01em;
    left: -31px;
    font-size: 14px;
    margin-right: -19px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 500;
}

.price-box {
    font-size: 22px;
    font-weight: 700;
}

.image-bg-product {
    height: 74px;
    width: 74px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f3f3f3;
}

.navbar-tool {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-tool.dropdown::before {
    position: absolute;
    bottom: -1rem;
    left: -10%;
    width: 120%;
    height: 1rem;
    content: "";
}

.navbar-tool-icon-box {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    transition: color .25s ease-in-out;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    background: transparent !important;
}

.cheio .navbar-tool-icon-box {
    background: #31BB5F !important;
}

a.navbar-tool-icon-box.bg-secondary.dropdown-toggle i {
    font-size: 30px;
    top: 4px;
    position: relative;
}

.cheio a.navbar-tool-icon-box.bg-secondary.dropdown-toggle i {
    font-size: 28px;
}

.navbar-tool-icon-box.bg-secondary.dropdown-toggle:after {
    display: none;
}

.navbar-tool-text {
    color: #FFFF99;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 0.875rem;
    transition: color .25s ease-in-out;
    font-size: .875rem;
    text-decoration: none !important;
    white-space: nowrap;
    display:
    none;
    font-weight: 700;
    font-size: 17px;
}

.icon-hover-mouse {
    font-size: 30px;
    margin-left: 13px;
    margin-right: 5px;
    width: 28px;
    text-align: center;
    display: none;
}


.image-mouseover i:hover {transform:scale(1.1);}

.list-redes i {
    font-size: 40px;
    color: #fff;
}
.languages {
    text-align: right;
}

.languages a {
    text-decoration: none;
}

.languages a:hover img {
    transform: scale(1.2);
}

.bg-top-footer {
    position: relative;
    width: 34%;
    background: red;
    height: 300px;
    margin-top: -300px;
    background: url('../../assets/images/bg-footer.svg') left bottom no-repeat;
    background-size: contain;
    margin-bottom: -3px;
}

.js-scroll.fade-in, .js-scroll.slide-left, .js-scroll.slide-right, .js-scroll.fade-in-bottom {
    opacity: 0;
    transition: opacity 500ms;
}

.scrolled.fade-in {
    animation: fade1-in 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

section.products {
    margin-top: 73px;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade1-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 978px){
    html .cheio.navbar-tool .navbar-tool-label {
        display:block;
    }
}


@media (min-width: 992px){
  .navbar-expand-lg .navbar-tool-text {
    display: block;
}

    .cheio.navbar-tool.dropdown {
    background: #31bb5f;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: #fff;
}



.navbar-tool:hover .icon-hover-mouse i.fa.fa-bars {
    display: none;
}


.icon-hover-mouse i.fa.fa-close {
    display: none;
}

.navbar-tool:hover .icon-hover-mouse i.fa.fa-close {
    display: block;
}



.menu-cart-v1 .navbar-tool-text {
    display: none;
}

.menu-cart-v1.cheio .icon-hover-mouse {
    display: block;
}

.menu-cart-v1.cheio .navbar-tool-text {
    display: block;
}
  
}

.navbar-tool .navbar-tool-label {
    position: absolute;
    top: -0.3126rem;
    right: -0.4125rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fe696a;
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.25rem;
    display: none;
}

.navbar-tool-text>small, .navbar-tool-text>.small {
    display: block;
    margin-bottom: -0.125rem;
    font-size: 12px;
    color: #fff;
}

header button.navbar-toggler.toggler-mobile {
    color: #230077;
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    transition: color .25s ease-in-out;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    background: #fff;
    margin-left: 12px;
    font-size: 24px;
    border: 1px solid #000;
}

#navbarCollapse header button.navbar-toggler.toggler-mobile {
    color: #000000;
    border: 1px solid #000;
}

button.navbar-toggler.toggler-mobile .fa-close {
    /* display:none; */
}

button.navbar-toggler.toggler-mobile[aria-expanded="true"] .fa-bars {
    /* display: none; */
}

button.navbar-toggler.toggler-mobile[aria-expanded="true"] .fa-close {
    display:block;
}

header .fa.fa-search {
    z-index: 7;
    color: #230077 !important;
    font-size: 20px;
    margin-right: 25px !important;
}

button.style-hidden-button {
    background: none;
    border: none;
}


a.box-user-logged {
    text-decoration:none;
}

a.box-user-logged small {
    font-size: 17px;
    display: inline;
    font-weight: 400;
}

.box-user-logged .navbar-tool-text.ms-n3 {
    color: #fff;
}

.box-user-logged .navbar-tool-text.ms-n3.user-name {
    padding-left: 0;
}

.box-user-logged i.fa.fa-user {
    font-size: 26px;
    top: 3px;
    position: relative;
}

header div.goto-login {
    display: none !important;
}


.user-not-logged div.user-name {
    display: none !important;
}

.user-not-logged.box-user-logged .navbar-tool-icon-box {
    background: transparent !important;
    margin-right: -10px;
}

header input.form-control.rounded-end.pe-5 {
    border: none;
    height: 42px;
    max-width: 90%;
}

.logo {
    max-width: 632px;
    width: 63vw;
}

/* mobile */



@media (min-width: 520px){

    
.user-not-logged.box-user-logged {
    background: #2FA757;
    padding-left: 3px;
    padding-right: 18px;
    border-radius: 23px;
}

    .user-not-logged div.goto-login {
    display: block !important;
}


    
}

@media (max-width: 520px){

    
.box-user-logged {
    background: #31bb5f;
    border-radius: 23px;
    width: 46px;
}

    
a.navbar-tool-icon-box.bg-secondary.dropdown-toggle i {
    font-size: 30px;
    top: 4px;
    position: relative;
}
    a.navbar-tool-icon-box.bg-secondary.dropdown-toggle i {
    font-size: 30px;
    top: 4px;
    position: relative;
}


.navbar-tool-icon-box {
    background: #230077 !important;
}
    
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand-lg .dropdown-menu>.dropdown .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    width: auto;
    margin-top: -0.5rem;
    margin-right: 0;
    margin-left: -0.25rem;
}
}




.fa-trash:before {
    background: url('../../assets/images/deletar.png') center no-repeat;
    content: '';
    width: 18px;
    height: 20px;
    display: block;
    background-size: contain;
}

.fa-trash:hover:before {
    background-size: 88%;
}


.fa-user:before {
    background: url('../../assets/images/user.png') center no-repeat;
    content: '';
    width: 18px;
    height: 20px;
    display: block;
    background-size: contain;
    margin: auto;
}

#header_menu_all_departments h2 {
    color: #230077;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px;
}

#header_menu_all_departments a h2 {
    margin-bottom: 5px;
}

#header_menu_all_departments ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#header_menu_all_departments a {text-decoration: none;color: #9DA4AC;font-size: 16px;font-weight: 500;margin-bottom: 10px;display: inline-block;}

#header_menu_all_departments a:hover {
    color: #230077;
}

#header_menu_all_departments a b {
    color: #43525F;
    font-size: 15px;
}

div#navbarCollapse {
    justify-content: space-between;
    padding-top: 4px;
}

.block-line {
    width: 100%;
    padding: 25px 45px 0px 45px;
}

div#header_menu_all_departments_top {
    border-bottom: 1px solid #DADAD9;
    text-align: center;
}

div#header_menu_all_departments_top a {
    box-shadow: 0px 2px 11px -7px #000;
}

div#header_menu_all_departments_top a:hover {
    box-shadow: none;
}

.menu-principal a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

a.dropdown-item {
    color: #212529;
}

.menu-principal a:hover {
    color: #31F1C5;
}

.nav-link:focus, .nav-link:hover {
    color: #43525F;
}

.menu-principal.menu-principal-todos-dptos a {
    font-weight: 700;
}

.menu-principal a > span.span-dropdown-toggle {
    position: relative;
    top: -2px;
}

.menu-principal a:after {
    position: relative;
    top: 3px;
}

div#navbarCollapse ul.menu-principal.navbar-nav.menu-principal-todos-dptos > li {padding-left: 0;}

.menu-principal-todos-dptos > li > a:after {
    display: none;
}

.menu-principal-todos-dptos > li > a i:before {
    background: url(../../assets/images/menu-green.png) center no-repeat;
    background-size: contain;
    width: 30px;
    height: 20px;
}

.menu-principal-todos-dptos > li:hover > a i:before {
    background: url(../../assets/images/menu-gray.png) center no-repeat;
    background-size: contain;
}

.menu-principal-todos-dptos > li > a i {
    margin-right: 16px;
    position: relative;
    top: 4px;
}

.menu-principal-todos-dptos > li:hover > a {
    color: #43525F;
}

ul#menu-menu-principal {
    justify-content: center;
    flex-grow: 1;
}

div#bs-example-navbar-collapse-1 {
    align-items: center;
    /* max-width: 982px; */
    /* width: auto; */
    flex-grow: unset;
}

@media (max-width: 768px) {
    html .user-not-logged.box-user-logged {
    background: #2FA757;
    padding-left: 3px;
    padding-right: 18px;
    border-radius: 23px;
    width: auto;
}

    .box-user-logged .navbar-tool-text.ms-n3.user-name {
        display:block;
    }
    
    html .footer-menu-right > div {
    width: 100%;
    margin-bottom: 10px;
}

    html div#footer-bloco-level-0, div#footer-bloco-level-1 {
    padding: 30px 0 21px 0;
}

html footer div#footer-bloco-level-1 {
    padding-top: 7px;
    padding-bottom: 23px;
}

html div#footer-bloco-level-2 {
    padding: 10px 0px;
}

.user-not-logged div.goto-login {
    display: block !important;
}

    
a.box-user-logged {
    background: #230077;
    border-radius: 23px;
    width: auto;
}


    .navbar-expand-lg .dropdown-menu.dropdown-menu-end {
    left: auto;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 73px !important;
}

.is_admin_bar_showing .navbar-expand-lg .dropdown-menu.dropdown-menu-end {
    margin-top: 108px !important;
}

.widget.widget-cart {
    width: 100% !important;
}
}

.nav-top-level-0 {
    padding: 9px 0px;
}

.redes-sociais a {
    color: #43525F;
    font-size: 23px;
    text-decoration: none;
    margin: 10px;
    position: relative;
}

.redes-sociais a:hover {
    top: -2px;
}

.block-top-menu-level-0 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

div#bs-example-navbar-collapse-0 {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

div#bs-example-navbar-collapse-0 ul li {
    /* margin: 0px 39px; */
}

ul#menu-menu-topo {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 660px;
    /* margin-right: 20px; */
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    max-width: 193px;
}

footer {
    background: #230077;
    color: #fff;
    position: relative;
}

footer a{
    color: #fff;
    text-decoration:none;
}

footer a:hover{
    color: #3c6;
    text-decoration:underline;
}

html .wp-block-button__link {
    background: #43525F;
    border-radius: 5px;
    padding: 10px 24px;
    height: auto;
    font-size: 16px;
    width: 255px;
    font-weight: 700;
}

html .wp-block-button__link:after {
    /* content: "\f061"; */
    content:'';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    transition: all 0.4s ease-out;
    background: url("../../assets/images/arrow-right-white.png") center no-repeat;
    height: 20px;
    width: 16px;
    background-size: contain;
    position: relative;
    top: 6px;
}

html .wp-block-button__link:hover{
   text-decoration:none;
}

html .wp-block-button__link:hover:after{
    margin-left:20px;
    transform: translate(5px,0);
}

div#footer-bloco-level-0 , div#footer-bloco-level-1 {
    border-bottom: 1px solid #43525F;
    padding: 72px 0 80px 0;
}

div#footer-bloco-level-0 , div#footer-bloco-level-1, div#footer-bloco-level-2 {
    border-bottom: 1px solid #43525F;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}



div#widget_3_3_footer {
    max-width: 357px;
}

footer h2 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 25px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer h6 {
    margin-bottom: 16px;
    font-size: 16px;
}

.footer-widgets {
    display: flex;
    flex-wrap: wrap;
}

html div#footer-bloco-level-1 {justify-content: center;padding-top: 12px;font-weight: 300;}

div#widget_1_3_footer_bottom {
    max-width: 260px;
    margin-right: 10px;
}

div#widget_2_3_footer_bottom {
    max-width: 256px;
    margin-right: 10px;
}

div#widget_3_3_footer_bottom {
    max-width: 223px;
}

.logo-footer {
    margin-bottom: 44px;
    margin-right: 10px;
    margin-top: 25px;
}

span.copyrights {
    color: #fff;
    opacity: 0.3;
}

div#footer-bloco-level-2 {
    padding: 41px 0;
}

.footer-menu-right {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#footer-bloco-level-2 > div {
    margin-right: 20px;
    margin-bottom: 20px;
}

i.fa.fa-phone {
    background: url("../../assets/images/phone-black.png") center no-repeat;
    background-size: contain;
    width: 31px;
    height: 23px;
}

i.fa.fa-phone:before {
    color: transparent;
}

footer i.fa.fa-phone {
    background: url(../../assets/images/phone-gray.png?v2) center no-repeat;
    width: 31px;
    background-size: auto;
    height: 23px;
}

div#header_menu_all_departments li {
    margin-right: 30px;
}

.align-items-baseline.d-flex.flex-wrap.wp-container-18 {
    gap: 1rem;
}

section.home-line-gray-itens {
    background: #FBFBFB;
}

section.home-line-gray-itens .row-item-details {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: self-end;
    padding-top: 37px;
    padding-bottom: 13px;
}

section.home-line-gray-itens .row-item-details > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
    min-height: 40px;
    text-align: left;
}

section.home-line-gray-itens .row-item-details > div p {
    margin: 0;
    color: #7E8891;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

section.home-line-gray-itens .row-item-details > div img {
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.n2-active[aria-label="Slide"] {
    background: #fff0 url(../../assets/images/eclipse.png?v1) center no-repeat  !important;
    height: 4px;
    width: 4px;
    background-size: contain !important;
}

.slider-home-2 div.n2-active[aria-label="Slide"] {
    background: #fff0 url(../../assets/images/eclipse2.png?v1) center no-repeat !important;
}

div[aria-label="Slide"] {
    height: 1px;
    width: 1px;
    padding: 7px !important;
}
.botao-1 {
    color: #0085FF;
    border: 1px solid #0085FF;
    text-decoration: none;
    padding: 13px 24px;
    width: 255px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    height: 53px;
    border-radius: 42px;
    width: 136px;
    height: 45px;
    line-height: 0;
    margin-top: 15px;
}

.botao-1:after {
    content: '\e315';
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 28px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 0px;
    transition: all 0.4s ease-out;
    height: 20px;
    width: 16px;
    background-size: contain;
    position: relative;
    top: 9px;
    font-weight: 100;
}

.botao-1:hover {
    color: #230077;
    background: #31F1C5;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.botao-1:hover:after {
    margin-left: 2px;
    transform: translate(2px,0);
}

html .banner-home.slider-home-2 .n2-ss-slider-2.n2-ow {
    border-radius: 25px !important;
}

html .banner-home.slider-home-2 .n2-ss-layer-row-inner {
    align-items: center;
}


section#page-404 h1 {
    font-size: max(4.2rem, 15.2vw);
}

section#page-404 {
    text-align: center;
    font-size: 1em;
    color: #000;
    padding: 43px 0px;
    line-height: 104px;
    background-size: cover;
    position: relative;
    z-index: 2;
}

section#page-404 h2 {
    font-size: max(1.6em, 1.2vw);
    font-weight: 700;
    margin-bottom: 32px;
}


section#page-404 h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}


.botao-3 {
    position: relative;
      color: #230077;
    border: 1px solid #230077;
    text-decoration: none;
    padding: 16px 24px;
    width: 255px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    height: 53px;
    border-radius: 42px;
    position: relative;
}

.botao-3:after {
    content: '\e315';
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 37px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 0px;
    transition: all 0.4s ease-out;
    height: 20px;
    width: 16px;
    background-size: contain;
    position: relative;
    top: 13px;
    font-weight: 100;
}

.botao-3:hover {
    color: #230077;
    background: #31F1C5;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.botao-3:hover:after {
    margin-left: 2px;
    transform: translate(2px,0);
}


.botao-4 {
    color: #230077;
    border: 1px solid #230077;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 24px;
    margin-top: 17px;
    font-weight: 700;
    font-size: 16px;
    /* height: 53px; */
    text-align: center;
}


.botao-4:hover {
    color: #230077;
    background: #31F1C5;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border: 0;
}

.botao-4:hover:after {
    margin-left: 20px;
    transform: translate(5px,0);
}


.marcas-photo {
    margin-right: 10px;
    padding: 6px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    border: 3px solid #000000;
    border-radius: 438px;
}

.marcas-photo:hover {
    border-color: #31F1C5;
    color: #31F1C5;
}

html .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}

html .slider-4-0  .slick-slide {
    justify-content: center;
}


.seta-esquerda{
    position: absolute;
    left: 4px;
}

.seta-direita{
    position: absolute;
    right: 0px;
}

.slider-slick {
    position: relative;
    padding-left: 26px;
    padding-right: 26px;
}

.slider-slick a {
    text-decoration: none;
}

.setas i {
    cursor: pointer;
    top: 50%;
    margin-top: -19px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 9px;
    background: #fff;
    color: gray;
    transition: all 0.4s ease-out;
}

.seta-esquerda {
     background: url("../../assets/images/slider-arrow-left.png") center no-repeat !important;
     color: transparent !important;
     border: none !important;
}

.seta-esquerda:hover {
    transform: translate(-5px,0);
}

.seta-direita {
    background: url("../../assets/images/slider-arrow-right.png") center no-repeat !important;
    color: transparent !important;
    border: none !important;
}

.seta-direita:hover {
    transform: translate(5px,0);
}

.sub-title {
    font-size: 20px;
    text-align: center;
    position: relative;
    max-width: 657px;
    margin: 30px auto;
}

.marcas .slider-slick {
    margin-bottom: 80px;
}

.marcas .sub-title {
    margin-top: 63px;
}

.sub-title:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #230077;
    position: absolute;
    top: 50%;
    margin-top: 2px;
    left: 0;
    z-index: 1;
}

.sub-title span {
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 2;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

section.marcas {
    margin-bottom: 100px;
}

input.form-control.rounded-start {border-color: #230077;border-radius: 39px !important;color: #230077;z-index: 0 !important;}

form#collapseFormSearch input.form-control.rounded-start {
    padding-left: 45px;
}

@media (max-width: 978px){
    .sub-title span {
    padding-left: 10px;
    padding-right: 10px;
}

    .menu-principal a {
    color: #230077;
}
    
}

.list-categorias-icons {
    background: #FBFBFB;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 36px;
    border-radius: 30px;
    flex-wrap: wrap;
}

.list-categorias-icons a {
    color: #230077;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.list-categorias-icons a p {
    margin-top: 24px;
    margin-bottom: 0;
}

section.categorias {
    margin-bottom: 80px;
    margin-top: 80px;
}



.item-photo {
    width: 548px;
    height: 548px;
    background: #d0d2d9;
    margin-bottom: 27px;
}



span.details_1 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
}

.details_2 {color: #230077;font-size: 42px;font-weight: 900;margin: 12px 0;text-transform: uppercase;}

.details_3 {
    color: #43525F;
    opacity: 0.5;
    text-transform: uppercase;
}

.box-item-prod {
    width: 100%;
    padding: 25px;
    margin-right: 10px;
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.box-item-prod .all-details {
    display: flex;
    flex-direction: column;
    max-width: 220px;
}



.sub-title-2 {
    font-size: 24px;
    position: relative;
    padding-left: 34px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 56px;
}

.sub-title-2:before {
    content: '';
    width: 22px;
    height: 22px;
    background: #230077;
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 50%;
    top: 3px;
    left: 0;
}

.slider-1 {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.setas.slider-1-setas {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}

.setas.slider-1-setas .seta-esquerda {
    position: relative;
    background: none !important;
    padding: 0;
    color: black !important;
    top: 0;
    margin: 0;
}

.setas.slider-1-setas .seta-direita {
    position: relative;
    background: none !important;
    color: black !important;
    padding: 0;
    margin: 0;
    top: 0;
}


section.content-nossas-tecologia h2 {
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 0;
    margin-right: 6px;
    margin-left: 5px;
}

section.content-nossas-tecologia {
    margin: 10px;
}

.catalogos {
    min-height: 700px;
    background: #3c6;
    position: relative;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 100px;
}

.catalogos:after {
    background: url(../images/bg-green.png) center no-repeat;
    content: '';
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: spin2;
}

@keyframes spin2 {
    0% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

section.catalogos .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


section.catalogos .block-left h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 24px;
}

section.catalogos .block-left h2 span {
    color: #000;
}

.block-left {
    max-width: 445px;
    width: 100%;
    margin: 40px auto;
}

.block-right {
    position: relative;
    width: 95%;
    max-width: 600px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    margin: 20px auto;
}

.block-right .setas {
    position: absolute;
    top: 37%;
    left: 10px;
    width: 97%;
    height: 20px;
    /* max-width: 300px; */
}

.block-right .setas .seta-esquerda {
    left: -27px;
    background: url(../../assets/images/arrow2-left-white.png) center no-repeat !important;
}

.block-right .setas .seta-direita {
    right: -17px;
    background: url(../../assets/images/arrow2-right-white.png) center no-repeat !important;
}

.slider-3 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.slider-3 a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.slider-3 h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 24px;
}

.slider-3 .item-photo {
    max-width: 255px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.slider-3 .box-item-prod {
    padding: 0;
}

.catalogos .botao-3 {
    background: #230077;
    text-decoration: none;
    padding: 12px 24px 16px 24px;
    color: #fff;
    min-width: 255px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin-top: 48px;
    align-content: flex-start;
}

.catalogos .botao-3:after {
    top: -14px;
}

@media (max-width: 1085px){
 .block-left {
    text-align: center;
}   
}


.slider-4 .photo-person {
    width: 57px;
    height: 57px;
    background: #ccc;
    border-radius: 50%;
}

.slider-4 .box-quad {
    display: flex;
    align-items: center;
    background: #fff;
    color: #9DA4AC;
    font-weight: 600;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    height: 100px;
    width: 346px;
}

.slider-4 .box-quad:hover .comments, .slider-4 .active .box-quad .comments,
.slider-4 .slick-current.slick-active .comments
{
    display: flex;
}

.slider-4 .box-quad:hover, .slider-4 .active .box-quad,
.slider-4 .slick-current.slick-active .box-quad{
    background: #230077;
    color: #fff;
}

.slider-4 a {
    text-decoration: none;
}

.slider-4 .text-details-person {
    margin-left: 17px;
    padding-right: 10px;
}

.slider-4 .text-details-person p {
    margin: 0;
}

.slider-4 h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #43525F;
}

.slider-4 {
    display: flex;
    padding-left: 40px;
    padding-right: 38px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

section.comentarios {background: #FBFBFB;}

section.comentarios > .container {
    position: relative;
    display: flex;
    align-items: end;
    background: #fff;
    /* background: blue; */
    justify-content: end;
    flex-direction: column;
}

.slider-4-setas {
    position: absolute;
    width: 100%;
    bottom: 7%;
    left: 0px;
}

.slider-4-setas .seta-esquerda {
    left: 16px;
}

.slider-4-setas .seta-direita {
    right: 15px;
}

.slider-4-0-itens-comments {
    /* position: absolute; */
    bottom: 102px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    height: 400px;
    color: #43525F;
    font-size: 24px;
    left: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    /* z-index: 999999; */
}

.comments p {
    max-width: 920px;
}

.slider-bottom {
    width: 100%;
}

.slider-top {
    width: 100%;
    position: relative;
}

.slider-4-0 {
    display: flex;
    justify-content: center;
}


@media (min-width: 992px){
    .mobile {
        display: none!important;
    }
    
}
@media (max-width: 992px){

.desktop {
    display: none!important;
}


ul#menu-menu-principal {
    text-align: right;
    padding-right: 14px;
}
.nav-top {
    padding: 8px 0px;
}

    
.navbar-stuck-menu {
    position: fixed;
    z-index: 9999999;
    background: #ffffff;
    width: 100%;
    top: 0;
    align-items: baseline;
}

  .box-item-prod {
    flex-direction: column;
}

.item-photo {
    margin-bottom: 0;
    height: 350px;
    width: 350px;
    background-position: center bottom !important;
}
  .details_2.font-2 {
    font-size: 25px;
    text-align: center;
}

span.details_1 {
    font-size: 16px;
    text-align: center;
}

.all-details .botao-1 {
    width: 100%;
    text-align: center;
}



  h1.header-title.font-1 {
    padding: 20px;
    font-size: 43px;
    margin-bottom: -100px;
}

  .bg-top-footer {
    width: 35%;
    margin-bottom: -1px;
}
  
}

@media (max-width:425px){
    .slider-4 .box-quad {
    width: 268px;
    height: 150px;
}

    .text-details-person {
    width: 158px;
}

    .slider-4-setas {
    bottom: 11%;
}

}

.page-content h1 {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 700;
}

.page-content h5 {
    font-size: 16px;
    margin-bottom: 32px;
}

.page-content p {
    color: #999999;
}

.page-content b, .page-content strong {
    color: #000;
}

#breadcrumbs li.separator:after {
    content: "\f105";
    font-size: 19px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999999;
    margin-right: 10px;
}

#breadcrumbs li.separator {
    color: transparent !important;
}

#breadcrumbs a, #breadcrumbs li {
    text-decoration: none;
    color: #999999;
    font-size: 1em;
}

#breadcrumbs a:hover {
    font-weight: 700;
}


.ofertas.produto-ofertas {
    background: #F4F4F4;
    padding: 30px 0;
}

.ofertas.produto-ofertas .slider-2 a {
    background: transparent;
    border: none;
}

.ofertas.produto-ofertas  .sub-title-2 {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: #484848;
}

.ofertas.produto-ofertas .sub-title-2:before {
    display: none;
}

.ofertas.produto-ofertas .box-item-prod {
    background: #fff;
    border-radius: 10px;
    width: auto;
    padding: 20px;
}

.slider-5 {
    display: flex;
    flex-direction: row;
    max-width: 540px;
    justify-content: center;
}

.slider-5 a .img {
    width: 95px;
    height: 95px;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    background-size: contain !important;
}

.slider-5-0 {
    max-width: 540px;
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.slider-5-0 img {
    width: 100%;
    height: auto;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
}

.slider-5-0:before {
    content: '';
    background: url('../images/zoom.png') center no-repeat;
    height: 24px;
    width: 24px;
    background-size: contain;
    position: absolute;
    right: 0;
    margin: 16px 16px 0 0;
}

.prod-details-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
}

.block-left-prod {
    margin-right: 20px;
    width: 100%;
    max-width: 540px;
    overflow: hidden;
}

.single-produtos h1 {
    font-size: 2em;
    color: #43525F;
}

.block-right-prod {
    display: flex;
    flex-direction: column;
    max-width: 424px;
    justify-content: center;
    max-height: 312px;
    line-height: 1.6em;
}

title-top-prod {
    text-transform: uppercase;
}

.block-right-prod.prod-desc-public {
    color: #999999;
}

.block-right-prod.prod-desc-public .botao-4 {
    max-width: 200px;
}

.title-top-prod {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.single-produtos h2 {
    font-size: 1.34em;
    color: #230077;
    font-weight: 700;
}

