.lista-nossas-marcas {
    display: flex;
    justify-content: center;
}

.lista-nossas-marcas img {
    width: 100%;
}

.lista-nossas-marcas > div {
    /* max-width: 218px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lista-nossas-marcas > div > div {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 8px 4px;
    height: 127.76px;
    width: 233.75px;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    background-size: contain;
}

.fundo-5 {
    background: #0b023b;
}

.fundo-4 {
    background: #001948;
}

.fundo-3 {
    background: #6ddda0;
}

.fundo-2 {
    background: #1b0d59;
}

.fundo-1 {
    background-color: #00367E;
}

.lista-nossas-marcas > div > div:hover > div.text-ocult {
    display: flex;
}

.lista-nossas-marcas > div > div .text-ocult {
    position: absolute;
    display: none;
    top: 0;
    height: 100%;
    text-align: center;
    /* display: flex; */
    font-size: 12px;
    padding: 16px;
    /* padding-bottom: 34px; */
    color: #fff;
    background: rgba(0, 0, 0, 0.84);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-nossas-marcas > div > div .text-ocult > .img-mob {
    display: none;
}

.lista-nossas-marcas > div > div .text-ocult a {
    margin: 0;
    font-weight: 400;
    font-size: 10.0294px;
    line-height: 14px;
}

.lista-nossas-marcas > div > div .text-ocult a::after {
    font-size: 18px;
    top: 6px;
}

.lista-nossas-marcas > div > div .text-ocult p {
    color: #fff !important;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: 11.4798px;
    line-height: 15px;
}

.lista-nossas-marcas div a {
    /* position: absolute; */
    margin-bottom: 13px;
    text-decoration: none;
    bottom: 0;
    height: auto;
    text-align: center;
    font-weight: 400;
    font-size: 10.0294px;
    line-height: 14px;
}

.lista-nossas-marcas div a::after {font-size: 17px;top: 5px;}

.lista-nossas-marcas div a:hover {
    color: #fff;
}

section#nossas-marcas h2 {
    color: #1D2A7D;
    text-align: center;
    margin-bottom: 40px;
}

section#nossas-marcas {
    margin: 59px 0px;
}

section#nossas-marcas .scroll2 {
    padding: 24px 0;
    overflow-x: hidden;
    width: 100%;
    margin-left: auto;
    cursor: grab;
    user-select: none;
    position: relative;
}

.lista-nossas-marcas .img-mob {
    height: 60px;
    width: 190px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.buttons-nossas-marcas {
    display: none;
}

@media(max-width:1230px){
    .lista-nossas-marcas {
    justify-content: flex-start;
}
}


@media(max-width:992px){

    .lista-nossas-marcas > div > div {
    height: 206.54px;
}

.lista-nossas-marcas > div > div > div.text-ocult {
    display: flex;
    background: transparent;
}

.lista-nossas-marcas > div > div .text-ocult > img {
    display: block;
    width: auto;
}

.lista-nossas-marcas > div > div > a {
    display: none;
}

.lista-nossas-marcas > div > div {
    background-image: none !important;
}

.lista-nossas-marcas > div > div .text-ocult p {
    min-height: 80px;
}

    .lista-nossas-marcas > div > div .text-ocult > .img-mob {
    display: block;
}

    .nossas-marcas-title-and-buttons {
    display: flex;
    justify-content: center;
    height: 30px;
}

.buttons-nossas-marcas {
    margin-left: 5px;
    display: flex;
}

.buttons-nossas-marcas button {
    border: none;
    background: none;
    padding-left: 1px;
}

.buttons-nossas-marcas button i {
    border: 0;
    border-radius: 50%;
    height: 15.75px;
    width: 15.75px;
    text-align: center;
    color: white;
    padding: 0;
    margin-right: 0px;
    background: #00367E;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

    section#nossas-marcas h2 {
    font-weight: 700;
    font-size: 19.8389px;
    line-height: 23px;
}
}