.lista-nossas-marcas {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.lista-nossas-marcas img {
    /* margin-right: 10px; */
    /* max-width: 213px; */
    width: 100%;
}

.lista-nossas-marcas > div {
    /* max-width: 218px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lista-nossas-marcas > div > div {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 8px 4px;
    height: 127.76px;
    width: 233.75px;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    background-size: contain;
}

.lista-nossas-marcas > div > div:hover > div.text-ocult {
    display: flex;
}

.lista-nossas-marcas > div > div .text-ocult {
    position: absolute;
    display: none;
    top: 0;
    height: 100%;
    text-align: center;
    /* display: flex; */
    font-size: 12px;
    padding: 16px;
    /* padding-bottom: 34px; */
    color: #fff;
    background: rgba(0, 0, 0, 0.84);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-nossas-marcas > div > div .text-ocult a {
    /* position: absolute; */
    /* left: 50%; */
    /* bottom: 0; */
    /* margin-left: -32%; */
    margin: 0;
    font-weight: 400;
    font-size: 10.0294px;
    line-height: 14px;
}

.lista-nossas-marcas > div > div .text-ocult a::after {
    font-size: 18px;
    top: 6px;
}

.lista-nossas-marcas > div > div .text-ocult p {
    color: #fff !important;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: 11.4798px;
    line-height: 15px;
}

.lista-nossas-marcas div a {
    /* position: absolute; */
    margin-bottom: 13px;
    text-decoration: none;
    bottom: 0;
    height: auto;
    text-align: center;
    font-weight: 400;
    font-size: 10.0294px;
    line-height: 14px;
}

.lista-nossas-marcas div a::after {font-size: 17px;top: 4px;}

.lista-nossas-marcas div a:hover {
    color: #fff;
}

section#nossas-marcas h2 {
    color: #1D2A7D;
    text-align: center;
    margin-bottom: 40px;
}

section#nossas-marcas {
    margin: 59px 0px;
}

section#nossas-marcas .scroll {
    overflow-x: scroll;
    padding: 24px 0;
}

section#nossas-marcas .scroll::-webkit-scrollbar {
    /* display: none; */
}


@media(max-width:1220px){
  .lista-nossas-marcas {
    padding-left: 300px;
}
  
}