.botoes-sac {
    width: 298.69px;
    height: 73.94px;
    background: #0085FF;
    border-radius: 11.6561px;
    display: block;
    /* transform: scale(1.5); */
    margin: 13px auto;
}

.botoes-sac a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 15.61px;
    font-weight: 500;
    line-height: 0;
}

.botoes-sac a span {
    line-height: 0;
}

.botoes-sac a .ico {
    width: 30.82px;
    height: auto;
}

.botoes-sac:hover {
    background: #00367e;
}

.botoes-sac a {
    color: #fff;
}



@media (min-width:992px){

    .botoes-sac {
    width: 764px;
    height: 147px;
}

.botoes-sac a .ico {
    width: auto;
}

.botoes-sac a {
    font-size: 43px;
    font-weight: 400;
}
}